<html>

<head>

</head>

<body>

    <h1>
        <div>
            <a href="/admin/pet">PETS</a>
        </div>
    </h1>

    <h1>
        <div>
            <a href="/admin/breed">BREEDS</a>
        </div>
    </h1>

    <h1>
        <div>
            <a href="/admin/category">CATEGORIES</a>
        </div>
    </h1>

</body>

</html>