<h1>ANIMAL'S BREED</h1>

<% if(error && error.length >0){ %>
    <p style="color: red;">
        <%= error %>
    </p>
    <% } %>

        <% if(typeof alerts != 'undefined') { %>
            <% alerts.forEach(function(alert) { %>
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <%= alert.msg %>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                         <span aria-hidden="true">×</span>
                        </button>
                </div>
                <% }) %>
                    <% } %>
                        <p class="lead"> <strong>Enter Animal's Details </strong> </p>

                        <form method="POST" action='/admin/breed/add/'>
                            <input type="text" name="name" class="form" placeholder="Enter Breed">
                            <select name="category_id" id="category">
                <option value="" hidden>Select Category</option>
                <% categories.forEach(category => { %>
                    <option value="<%= category.id %>"><%= category.name %></option>    
                <%  }); %>
                
            </select>
                            <p> </p>
                            <button>ADD BREED</button>
                        </form>
                        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
                        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>