<!DOCTYPE html>
<html lang="en">

<head>
</head>

<body>

    <h2>Displaying Pet's Info</h2>
    <p> Id: <strong><%= pet.id %></strong></p>
    <p> Name: <strong><%= pet.name %></strong></p>
    <p> Age: <strong><%= pet.age %></strong></p>
    <p> Price: <strong><%= pet.price %></strong></p>
    <p>Helpful Information: All Animals are the creation of the Almighty One. It is our duty to not harm them!! </p>
    <h1>THANK YOU!</h1>

</body>

</html>